/* ---------------------------- Playbar ---------------------------- */
.section-playbar {
    height: 6.5rem;
    width: 100%;
    color: var(--white-color);
    position: fixed;
    bottom: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #6123d5, #23d5ab);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;
  }
  
  .section-playbar .flex {
    justify-content: space-evenly;
  }
  
  .section-playbar img {
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .section-playbar.play img {
    animation-play-state: running;
  }
  
  .section-playbar i {
    font-size: 1rem;
    padding: 0 1.5rem;
    cursor: pointer;
  }

  .section-playbar input {
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
  }

  input[type=range]::-webkit-slider-thumb {
      background: rgb(129, 115, 253);
      margin-top: -6px;
  }
  
  .section-playbar input {
    width: 70rem;
  }

  .playbar-song-artist {
    margin: -1rem 0;
    margin-bottom: 0.2rem;
  }

  .section-playbar-range .grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .playbar-time-stamps {
    height: 1rem;
    width: 70rem;
  }

  .playbar-time-stamps{
    display: flex;
    justify-content: space-between;
  }
  /* ---------------------------------------------------------------- */
  
  
  
  
  /* --------------------------- Top Button -------------------------- */
  .section-top-button div {
    height: 3.5rem; 
    width: 3.5rem; 
    background-color: rgb(122, 122, 122); 
    color: var(--white-color); 
    border-radius: 0.5rem; 
    position: fixed; 
    bottom: 8rem; 
    right: 2rem;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  }
  
  .section-top-button p {
    font-size: 1.5rem
  }
  /* ---------------------------------------------------------------- */
  
  
  
  
  /* ------------------------ Instrument Modals ---------------------- */
  
  /* Modal : Piano */
  .piano-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
  }
  
  .piano-modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .piano-modal > div {
    height: 35rem;
    max-width: 75rem;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 0 2rem;
    border-radius: 2rem;
    background: rgb(179, 185, 219);
  }
  
  .piano-modal .grid {
    gap: 0rem;
  }
  
  .piano-modal-header,
  .piano-player,
  .piano-play-button {
    grid-column: 1 / span 2;
  }
  
  .piano-modal-header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .piano-modal-header p {
    font-size: 1.5rem;
  }
  
  .piano-modal-heading {
    padding: 0 26rem;
  }
  
  .piano-modal-heading h3 {
    font-family: var(--cursive-font);
    font-size: 3.5rem;
  }
  
  .piano-play-button div {
    margin: 0 auto; 
    height: 3rem; 
    width: 10rem; 
    border: solid 0.1rem var(--primary-color); 
    border-radius: 1rem;
  }
  
  .piano-controls a {
    cursor: pointer;
  }
  
  /* Modal : Drumkit */
  .drumkit-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
  }
  
  .drumkit-modal:target {
    opacity:1;
    pointer-events: auto;
  }
  
  .drumkit-modal > div {
    height: 45rem;
    max-width: 1200px;
    width: 90%;
    position: relative;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    background: rgb(245, 227, 223);
  }
  
  .drumkit-modal .grid {
    gap: 0px;
  }
  
  .drumkit-modal-header,
  .drumkit-player,
  .drumkit-keys,
  .drumkit-play-button {
    grid-column: 1 / span 2;
  }
  
  .drumkit-modal-header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .drumkit-modal-header p {
    font-size: 1.5rem;
  }
  
  .drumkit-modal-heading {
    padding: 0 25rem;
  }
  
  .drumkit-modal-heading h3 {
    font-family: var(--cursive-font);
    font-size: 3.5rem;
  }
  
  .drumkit-player img {
    width: 30%;
  }
  
  .drumkit-beat-container {
    height: 6rem;
    width: 6rem;
    background: linear-gradient(0.65turn, #e4cc80, #ffa2a2);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: transform 0.2s ease-in;
  }

  .drumkit-beat-container h3,h4 {
    pointer-events: none;
  }

  .drumkit-beat-container:hover{
    transform: translateY(-15px);
  }

  .drumkit-beat-container.active{
    transform: translateY(-50px);
  }
  
  .drumkit-play-button div {
    margin: 0 auto; 
    height: 3rem; 
    width: 10rem; 
    border: 1px solid var(--primary-color); 
    border-radius: 1rem;
  }
  
  .drumkit-controls a {
    cursor: pointer;
  }
  /* ---------------------------------------------------------------- */



  /* --------------------------- Keyframes --------------------------- */
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    @-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
  /* ---------------------------------------------------------------- */