/* Small devices (landscape phones, 575.98px and up) */
@media (max-width: 575.98px) {

    /* ----------------------------- RESETS --------------------------- */
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
      }
    
    .grid-5 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-mobile {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- NAVBAR --------------------------- */
    .navbar {
        height: auto;
    }
    
    .navbar ul {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .navbar ul li {
        padding: 1rem 0;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ------------------------------- HERO ---------------------------- */
    .hero-text {
        padding: 6rem 0;
    }
    
    .hero-text h1 {
        font-size: 4rem;
        font-weight: bolder;
    }
    
    .hero-text h5 {
        font-size: 1rem;
        font-weight: bolder;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- UTILITIES ------------------------- */
    .utilities {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Songs Play-List */
    .songs-playlist-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .songs-playlist-graphics h3 {
        font-size: 4rem; 
    }
    
    .songs-playlist {
        border-radius: 1rem;
        width: 92%;
        margin: 0 auto;
    }
    
    .song-controls h4 {
        font-size: 18px;
    }
    
    .song-thumbnail {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
    }
    
    /* Microphone */
    .vocals-box {
        border-radius: 1rem;
        height: auto;
        width: 92%;
        margin: 0 auto;
    }
    
    .vocals-box .grid {
        height: auto;
    }
    
    .microphone {
        height: 16rem;
    }
    
    .microphone img {
        height: 15rem;
        width: 12.5rem;
        margin: 0;
        position: relative;
    }
    
    .microphone svg {
        width: 100%;
        height: 16rem;
        bottom: 17rem;
        z-index: 999;
    }
    
    .waveforms {
        width: 90%;
    }
    
    .record-icon-container {
        padding: 2rem 0;
    }
    
    
    .voice-recorder-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .voice-recorder-graphics img {
        height: auto;
    }
    
    .voice-recorder-graphics h3 {
        font-size: 3rem;
    }
    
    /* Musical Instruments */
    
    .music-intruments-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .music-intruments-graphics h3 {
        font-size: 2rem;
    }
    
    .play-instruments {
        width: 92%;
        margin: 0 auto;
        padding: 0 4rem;
    }
    
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PARTNERS -------------------------- */
    .partner-image {
        width: 30%;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PLAYBAR --------------------------- */
    .section-playbar {
        height: auto !important;
        padding: 1rem 0;
        z-index: 9999;
    }
    
    .section-playbar .grid-mobile{
        row-gap: 1rem;
    }
    
    .section-playbar input {
        width: 90%;
        margin: 0 auto;
    }
    /* ---------------------------------------------------------------- */
    
    }
      
      
    /* Small devices (landscape phones, 375px to 430px) */
    @media (max-width: 430px) and (min-width: 375px) {
    
    /* ----------------------------- RESETS --------------------------- */
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
      }
    
    .grid-5 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-mobile {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- NAVBAR --------------------------- */
    .navbar {
        height: auto;
    }
    
    .navbar ul {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .navbar ul li {
        padding: 1rem 0;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ------------------------------- HERO ---------------------------- */
    .hero-text {
        padding: 10rem 0;
    }
    
    .hero-text h1 {
        font-size: 4rem;
        font-weight: bolder;
    }
    
    .hero-text h5 {
        font-size: 1rem;
        font-weight: bolder;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- UTILITIES ------------------------- */
    .utilities {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Songs Play-List */
    .songs-playlist-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .songs-playlist-graphics h3 {
        font-size: 4rem; 
    }
    
    .songs-playlist {
        border-radius: 1rem;
        width: 92%;
        margin: 0 auto;
    }
    
    .song-controls h4 {
        font-size: 18px;
    }
    
    .song-thumbnail {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
    }
    
    /* Microphone */
    .vocals-box {
        border-radius: 1rem;
        height: auto;
        width: 92%;
        margin: 0 auto;
    }
    
    .vocals-box .grid {
        height: auto;
    }
    
    .microphone {
        height: 16rem;
    }
    
    .microphone img {
        height: 15rem;
        width: 12.5rem;
        margin: 0;
        position: relative;
    }
    
    .microphone svg {
        width: 100%;
        height: 16rem;
        bottom: 17rem;
        z-index: 999;
    }
    
    .waveforms {
        width: 90%;
    }
    
    .record-icon-container {
        padding: 2rem 0;
    }
    
    
    .voice-recorder-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .voice-recorder-graphics img {
        height: auto;
    }
    
    .voice-recorder-graphics h3 {
        font-size: 3rem;
    }
    
    /* Musical Instruments */
    
    .music-intruments-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .music-intruments-graphics h3 {
        font-size: 2rem;
    }
    
    .play-instruments {
        width: 92%;
        margin: 0 auto;
        padding: 0 4rem;
    }
    
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PARTNERS -------------------------- */
    .partner-image {
        width: 35%;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PLAYBAR --------------------------- */
    .section-playbar {
        height: auto !important;
        padding: 1rem 0;
        z-index: 9999;
    }
    
    .section-playbar .grid-mobile{
        row-gap: 1rem;
    }
    
    .section-playbar input {
        width: 90%;
        margin: 0 auto;
    }
    /* ---------------------------------------------------------------- */
    
    }
        
        
        
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 769.98px) { 
    
    /* ----------------------------- RESETS --------------------------- */
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
      }
    
    .grid-5 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .grid-mobile {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- NAVBAR --------------------------- */
    .navbar {
        height: auto;
    }
    
    .navbar ul {
        display: grid !important;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .navbar ul li {
        padding: 1rem 0;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ------------------------------- HERO ---------------------------- */
    .hero-text {
        padding: 14rem 0;
    }
    
    .hero-text h1 {
        font-size: 4rem;
        font-weight: bolder;
    }
    
    .hero-text h5 {
        font-size: 1rem;
        font-weight: bolder;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ----------------------------- UTILITIES ------------------------- */
    .utilities {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Songs Play-List */
    .songs-playlist-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .songs-playlist {
        border-radius: 1rem;
        width: 92%;
        margin: 0 auto;
    }
    
    /* Microphone */
    .vocals-box {
        border-radius: 1rem;
        height: auto;
        width: 92%;
        margin: 0 auto;
    }
    
    .vocals-box .grid {
        height: auto;
    }
    
    .microphone {
        height: 16rem;
    }
    
    .microphone img {
        height: 15rem;
        width: 12.5rem;
        margin: 0;
        position: relative;
    }
    
    .microphone svg {
        width: 100%;
        height: 16rem;
        bottom: 17rem;
        z-index: 999;
    }
    
    .waveforms {
        width: 90%;
    }
    
    .record-icon-container {
        padding: 2rem 0;
    }
    
    
    .voice-recorder-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .voice-recorder-graphics img {
        height: auto;
    }
    
    /* Musical Instruments */
    
    .music-intruments-graphics {
        width: 92%;
        margin: 0 auto;
    }
    
    .play-instruments {
        width: 92%;
        margin: 0 auto;
        padding: 0 4rem;
    }
    
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PARTNERS -------------------------- */
    .partner-image {
        width: 20%;
    }
    /* ---------------------------------------------------------------- */
    
    
    
    
    /* ---------------------------- PLAYBAR --------------------------- */
    .section-playbar {
        height: auto !important;
        padding: 1rem 0;
        z-index: 9999;
    }
    
    .section-playbar .grid-mobile{
        row-gap: 1rem;
    }
    
    .section-playbar input {
        width: 90%;
        margin: 0 auto;
    }
    /* ---------------------------------------------------------------- */
    
    }