/* ----------------------------- Navbar --------------------------- */

.navbar {
  background-color: transparent;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 15px;
}

.navbar a:hover {
  color: rgb(167, 167, 167);
}

.navbar .flex {
  justify-content: space-between;
}

.drum {
  margin: 0 10px;
  font-size: 25px;
}
/* ---------------------------------------------------------------- */



/* ------------------------------ Hero ---------------------------- */
.section-hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.171)
  ),url(/resources/img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero-text {
  padding: 20rem 0;
  text-align: center;
}

.hero-text h1 {
  font-size: 120px;
  font-weight: bolder;
}

.hero-text h5 {
  font-size: 20px;
  font-weight: bolder;
}
/* ---------------------------------------------------------------- */



/* ---------------------------- Services --------------------------- */
.service-1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.600), 
    rgba(0, 0, 0, 0.600)
  ),url(/resources/img/service-songs.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service-2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.500), 
    rgba(0, 0, 0, 0.500)
  ),url(/resources/img/service-vocals.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service-3 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.400), 
    rgba(0, 0, 0, 0.400)
  ),url(/resources/img/service-instruments.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* ---------------------------------------------------------------- */

/* --------------------------- Utilities -------------------------- */

/* Songs List */
.song-container {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 20px;
  margin: 0.1rem 0;
}

.song-container .grid {
  gap: 0px;
}

.songs-playlist-graphics {
  
}

.song-controls {
  margin-right: auto;
}

.utilities .flex {
  justify-content: space-evenly;
}

.song-thumbnail {
  height: 80px; 
  width: 80px; 
  border-radius: 40px;
}

.play-bar {
  grid-column: 1 / span 2;
}

.play-bar input {
  width: 400px;
}

/* Voice Recorder */
.vocals-box .grid {
  gap: 0px;
}

.microphone {
  grid-column: 1 / span 2;
}

.microphone img {
  height: 30rem;
  width: 25rem;
}

.waveforms {
  grid-column: 1 / span 2;
  height: 5rem; 
  width: 34.3rem; 
  text-align: center; 
}

.record-icon {
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Instruments */
.division-instruments {
  padding: 0px 50px;
}

.instrument-1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.300), 
    rgba(0, 0, 0, 0.300)
  ),url(/resources/img/piano.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.instrument-2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.300), 
    rgba(0, 0, 0, 0.300)
  ),url(/resources/img/drum.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* ---------------------------------------------------------------- */

/* -------------------------- Our Partners ------------------------ */
.partners-box {
  background-color: rgb(240, 240, 240);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.partners-box h1 {
  color: #000;
}

.partner-image {
  width: 60%;
}
/* ---------------------------------------------------------------- */


/* ---------------------------- Footer ---------------------------- */
footer {
  background-color: #210654;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}
/* ---------------------------------------------------------------- */