/* ----------------------------- Navbar --------------------------- */
.navbar {
  background-color: transparent;
  color: #fff;
  height: 5rem;
}

.navbar ul {
  display: flex;
}

nav a {
  color: #fff;
  margin: 0 2rem;
}

nav a:hover {
  color: rgb(167, 167, 167);
}

.navbar .flex {
  justify-content: space-between;
}

.drum {
  margin: 0 1rem;
}
/* ---------------------------------------------------------------- */



/* ------------------------------ Hero ---------------------------- */
.section-hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.171)
  ),url(/resources/img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* .section-hero::before,
.section-hero::after {
  content: '';
  position: absolute;
  height: 150px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
} */

.hero-text {
  padding: 20rem 0;
  text-align: center;
}

.hero-text h1 {
  font-size: 8rem;
  font-weight: bolder;
}

.hero-text h5 {
  font-size: 1.5rem;
  font-weight: bolder;
}
/* ---------------------------------------------------------------- */



/* ---------------------------- Services --------------------------- */
.section-our-services {
  margin-top: 3rem;
}

.section-our-services .grid {
  gap: 2rem;
}

.service-1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.600), 
    rgba(0, 0, 0, 0.600)
  ),url(/resources/img/service-songs.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service-2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.500), 
    rgba(0, 0, 0, 0.500)
  ),url(/resources/img/service-vocals.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service-3 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.400), 
    rgba(0, 0, 0, 0.400)
  ),url(/resources/img/service-instruments.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* ---------------------------------------------------------------- */

/* --------------------------- Utilities -------------------------- */
.section-utilities {
  margin-top: 3rem;
}

.utilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Songs List */
.song-container {
  color: #fff;
  border-radius: 20px;
  margin: 0.1rem 0;
  background: linear-gradient(-90deg, #000000, #474747, #5b5761, #8b8a8a);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 10s ease infinite;
}

.song-container .grid {
  gap: 0px;
}

.song-controls {
  margin-right: auto;
}

.utilities .flex {
  justify-content: flex-end;
}

.songs-playlist-graphics {
  border: solid 5px rgb(0, 0, 0);
  border-radius: 20px; 
  height: 51.5rem;
}

.songs-playlist-graphics h3 {
  font-size: 4rem; 
  font-family: 'Dancing Script', cursive;
}

.songs-playlist-graphics img {
  height: 30rem;
}

.songs-playlist {
  height: 51.7rem;
  border: 2px solid lightgray; 
  border-radius: 20px;
  overflow: hidden;
}

.songs-playlist h3 {
  margin-top: 1rem;
}

.scrollable-list {
  margin-top: 1rem; 
  height: 46.5rem; 
  overflow: scroll;
}

.scrollable-list::-webkit-scrollbar {
  display: none;
}

.song-thumbnail {
  height: 80px; 
  width: 80px; 
  border-radius: 40px;
}

.play-button {
  margin: 0 0.5rem;
}

.play-bar {
  grid-column: 1 / span 2;
}

.play-bar input {
  width: 400px;
}

/* Voice Recorder */
.vocals-box {
  height: 53rem; 
  border: 2px solid rgb(201, 201, 201); 
  border-radius: 20px;
}

.vocals-box .grid {
  height: 48.7rem;
  gap: 0px;
}
.vocals-box h3 {
  margin-top: 1rem;
}

.voice-recorder-graphics {
  border: solid 5px rgb(0, 0, 0);
  border-radius: 20px;
}

.voice-recorder-graphics h3 {
  font-size: 4rem; 
  font-family: 'Dancing Script', cursive;
}

.voice-recorder-graphics img {
  height: 38rem;
}

.microphone {
  grid-column: 1 / span 2;
}

.microphone img {
  height: 30rem;
  width: 25rem;
  position: absolute;
  margin-left: 6rem;
}

svg {
  width: 100%;
  height: 500px;
  position: relative;
  bottom: 4rem;
}

.waveforms {
  border: 1px solid purple;
  border-radius: 0.5rem;
  grid-column: 1 / span 2;
  height: 5rem; 
  width: 34.3rem; 
  text-align: center; 
  margin: 0 auto;
}

.record-icon {
  height: 3rem;
  width: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Instruments */
.music-intruments-graphics {
  border: solid 5px rgb(0, 0, 0);
  border-radius: 20px;
}

.music-intruments-graphics h3 {
  font-size: 4rem; 
  font-family: 'Dancing Script', cursive;
}

.play-instruments {
  padding: 0px 80px;
  border: 2px solid lightgray; 
  border-radius: 20px;
}

.play-instruments h3 {
  margin-top: 1rem;
}

.instrument-1 {
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.300), 
    rgba(0, 0, 0, 0.300)
  ),url(/resources/img/piano.jpg); */
  background-size: cover;
  background-position: center;
  color: #fff;

  display: block;
  overflow: hidden;
  width: 480px;
  height: 315px;
  border-radius: 30px;
  transform: translateZ(0px);
  border: 3px solid #eee;
}

.instrument-2 {
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.300), 
    rgba(0, 0, 0, 0.300)
  ),url(/resources/img/drum.jpg); */
  background-size: cover;
  background-position: center;
  color: #fff;

  display: block;
  overflow: hidden;
  width: 480px;
  height: 315px;
  border-radius: 30px;
  transform: translateZ(0px);
  border: 3px solid #eee;
}

.button-play-piano {
  margin: 0 auto;
}

.button-play-piano div {
  height: 2rem; 
  width: 12rem; 
  padding: 0.1rem 0;
  border: 1px solid purple; 
  border-radius: 1rem;
}

.button-play-drumkit {
  margin: 0 auto;
}

.button-play-drumkit div {
  height: 2rem; 
  width: 12rem; 
  padding: 0.1rem 0;
  border: 1px solid purple; 
  border-radius: 1rem;
}
/* ---------------------------------------------------------------- */

/* -------------------------- Our Partners ------------------------ */
.partners-box {
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.partners-box h2 {
  color: #000;
}

.partner-brands {
  margin-top: 2rem;
}

.partner-image {
  width: 60%;
}
/* ---------------------------------------------------------------- */


/* ---------------------------- Footer ---------------------------- */
footer {
  background-color: #210654;
  color: #fff;
  text-align: center;
  padding: 2.5rem 0;
  margin-bottom: 6.5rem;
}
/* ---------------------------------------------------------------- */



/* ---------------------------- Playbar ---------------------------- */
.section-playbar {
  height: 6.5rem;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #6123d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.section-playbar .flex {
  justify-content: space-evenly;
}

.section-playbar img {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.section-playbar input {
  width: 70rem;
}

.section-playbar i {
  font-size: 1rem;
  padding: 0 1.5rem;
}
/* ---------------------------------------------------------------- */



/* --------------------------- Top Button -------------------------- */
.section-top-button div {
  height: 50px; 
  width: 50px; 
  background-color: rgb(122, 122, 122); 
  color: #fff; 
  border-radius: 10px; 
  position: fixed; 
  bottom: 8rem; 
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-top-button p {
  font-size: 1.5rem
}
/* ---------------------------------------------------------------- */


.piano-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.piano-modal .grid {
  gap: 0px;
}

.piano-modal:target {
  opacity:1;
  pointer-events: auto;
}

.piano-modal > div {
  height: 35rem;
  max-width: 1200px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 0 2rem;
  border-radius: 20px;
  background: rgb(179, 185, 219);
}

.piano-button-close,
/* .piano-main-text, */
.piano-player,
.piano-play-button {
  grid-column: 1 / span 2;
}

.piano-player img {
  height: 15rem;
}

.piano-modal-heading {
  padding: 0 28rem;
}

.piano-modal-heading h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.piano-button-close {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.piano-button-close p {
  font-size: 1.5rem;
}

.piano-play-button div {
  margin: 0 auto; 
  height: 3rem; 
  width: 10rem; 
  border: 1px solid purple; 
  border-radius: 1rem;
}

.piano-controls a {
  cursor: pointer;
}





.drumkit-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.drumkit-modal .grid {
  gap: 0px;
}

.drumkit-modal:target {
  opacity:1;
  pointer-events: auto;
}

.drumkit-modal > div {
  height: 50rem;
  max-width: 1200px;
  width: 90%;
  position: relative;
  margin: 5% auto;
  padding: 20px;
  border-radius: 20px;
  background: rgb(245, 227, 223);
}

.drumkit-button-close,
.drumkit-main-text,
.drumkit-player,
.drumkit-keys,
.drumkit-play-button {
  grid-column: 1 / span 2;
}

.drumkit-beat-container {
  height: 6rem;
  width: 6rem;
  background: linear-gradient(0.65turn, #e4cc80, #ffa2a2);
  border: 1px solid rgb(179, 179, 179);
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  padding: 1rem 0;
}

.drumkit-modal-heading {
  padding: 0 28rem;
}

.drumkit-modal-heading h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

.drumkit-button-close {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.drumkit-button-close a {
  text-align: end;
}

.drumkit-player img {
  width: 30%;
}

.drumkit-button-close p {
  font-size: 1.5rem;
}

.drumkit-play-button div {
  margin: 0 auto; 
  height: 3rem; 
  width: 10rem; 
  border: 1px solid purple; 
  border-radius: 1rem;
}

.drumkit-controls a {
  cursor: pointer;
}